.card {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card-wrapper {
  position: relative;
  transition: transform 0.25s ease-in-out;
}

.card-wrapper:hover {
  transform: scale(1.025);
  z-index: 1;
}

.card-image {
  width: 90%;
  height: auto;
  display: block;
  border-radius: 6px;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 90%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-wrapper:hover .card-overlay {
  opacity: 1;
}

.card-title {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 4px;
}

.card-year {
  font-size: 0.8rem;
  color: #90ee90;
}

.card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 0.8rem;
  margin-top: 6px;
}

.card-rating .icon{
  font-size: 0.9rem;
  color: rgb(244, 244, 10);
}